<!-- =========================
     HEADER
============================== -->
<header class="header" id="top" data-stellar-background-ratio="0.5">
    <!-- Background Overlay -->
    <div class="overlay">

        <!-- =========================================
             Navigation
        ========================================== -->
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Navbar-Header -->
                        <div class="navbar-header">

                            <!-- Mobile Menu -->
                            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <i class="icon icon_menu"></i>
                            </button>

                            <!-- Text-Logo -->
                            <a href="#top" class="navbar-brand scrollto" title="Launch Alarm">
                                <span class="text-logo">Launch Alarm</span>
                            </a>

                            <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200)

                            <a href="#top" class="navbar-brand img-logo scrollto" title="SmartMvp">
                                <img src="img/logo.png" alt="Logo">
                            </a>
                            -->

                        </div><!-- /End Navbar-Header -->

                        <!-- Navbar-Collapse -->
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Menu Items -->
                                <li><a href="#mobile-download" title="" class="scrollto">About</a></li>
                                <!-- <li><a href="#mobile-download" title="" class="scrollto">Features</a></li> -->
                                <!-- Go to Download -->
                                <li><a class="btn btn-nav btn-signup scrollto" href="#mobile-download">Download the App</a></li>
                            </ul>
                        </div><!-- /End Navbar-Collapse -->
                    </div><!-- /End Col -->
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </nav><!-- /End Sticky Navigation -->

        <!-- =========================================
             Hero-Section
        ========================================== -->
        <div class="container vmiddle hero-app">
            <div class="row">
                <div class="col-sm-6">
                    <div class="hero-section">

                        <!-- Welcome - Hero Message -->
                        <h1 class="text-white">Get your dose of rocket launch information</h1>
                        <p class="text-white">Be notified of a launch anytime, anywhere.</p>

                        <!-- Learn More & Video Buttons -->
                        <div class="btn-box">
                            <a href="#mobile-download" class="btn btn-ghost scrollto">Learn More</a>
                            <a href="#mobile-download" class="btn btn-color scrollto"><i class="icon icon_cloud-download_alt"></i>Download the App</a>
                        </div>

                    </div><!-- /End Intro-Section -->
                </div><!-- /End Col -->
                <!-- App Showcase Image -->
                <div class="col-sm-6 hidden-xs">
                    <div class="app-box">
                        <img src="img/devices.png" alt="" class="img-responsive">
                    </div>
                </div>

            </div><!-- /End Row -->
        </div><!-- /End Container Hero-Section -->


    </div><!-- /End Background Overlay -->
</header>
<!-- =========================
     /END HEADER
============================== -->

<!-- ==================================================
    MOBILE DOWNLOAD SECTION
======================================================= -->
<section class="mobile-download light-bg" id="mobile-download">
    <div class="container">
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-md-12">
                    <h2>Download the Launch Alarm App</h2>
                    <p class="large">Never miss a rocket launch with the Launch Alarm Mobile Application. Get all the details and notifications anytime.</p>
                </div>
            </div>
            <div class="row">
                <!-- Text and Mobile Download Buttons -->
                <div class="col-sm-6 col-md-4">
                    <h3>Be notified of all rocket launches</h3>
                    <p class="mobile-text">With an up to date list of all upcomming rocket launches and all the details on the rocket, launch pad, launch complex, mission and much much more. <span class="text-color">Never miss a Launch!</span></p>
                    <a href="https://itunes.apple.com/us/app/launch-alarm/id1120922106" class="btn btn-color"><i class="icon icon_cloud-download_alt"></i>Download on iOS Now</a>
                    <a href="https://play.google.com/store/apps/details?id=com.launchalarm.app" class="btn btn-color"><i class="icon icon_cloud-download_alt"></i>Download on Android Now</a>
                </div>

                <div class="col-sm-6 col-md-4">
                    <!-- Screenshot Carousel -->
                    <div class="shot-container">
                        <div id="owl-carousel-shots-phone" class="owl-carousel">
                            <div class="owl-container text-center shots-modal">
                                <img src="img/app-screenshots/web-screenshot-1.png" alt="" title="Launch List" />
                            </div>
                            <div class="owl-container text-center shots-modal">
                                <img src="img/app-screenshots/web-screenshot-2.png" alt="" title="Stream or Share" />
                            </div>
                            <div class="owl-container text-center shots-modal">
                                <img src="img/app-screenshots/web-screenshot-3.png" alt="" title="Launch Details" />
                            </div>
                        </div><!-- /End owl carousel-->
                    </div><!-- /End Container -->
                </div>

                <div class="col-sm-12 col-md-4 right-features">
                    <!-- More Features -->
                    <div class="col-sm-4 col-md-12">
                        <h4>Get Notified</h4>
                        <p>Signup and turn on notifications so you will always be notififed of an upcomming launch, you can even stream it right from the app.</p>
                    </div>
                    <div class="col-sm-4 col-md-12">
                        <h4>Detailed Information</h4>
                        <p>We have you covered with all rocket, launch complex and mission information for each launch.</p>
                    </div>
                    <div class="col-sm-4 col-md-12">
                        <h4>Stream & Social</h4>
                        <p>Stream live launches right from within the app and share launch information with friends and family.</p>
                    </div>
                </div>
            </div><!-- /End Row -->
        </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
</section>
<!-- =============================
     /END MOBILE DOWNLOAD SECTION
============================== -->

<!-- ==================================================
    CONFIRM DIVIDER
======================================================= -->
<section id="confirm" class="dark-bg signup-divider">
    <div class="container">
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-white">Allready signed up? Confirm your email here!</h2>
                    <p><div class="large text-white" id="ajaxResponse"></div></p>
                </div>
            </div>

            <div class="row">
                <!-- Confirm Form -->
                <form id="confirm-divider" role="form">
                  <!-- Notification -->
                  <p class="confirm-success"></p>
                  <p class="confirm-failed"></p>

                  <div class="form-group">
                    <input type="text" id="confirm-email" class="form-control input-lg" placeholder="Enter your Email-Address" required>
                  </div>
                  <div class="form-group">
                    <input type="text" id="confirm-code" class="form-control input-lg" placeholder="Enter your Confirmation Code" required>
                  </div>
                  <button class="btn btn-color">Confirm Account <i class="icon arrow_right"></i></button>
                </form>
            </div><!-- /End Row -->
        </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
</section>
<!-- =============================
     /END CONFIRM SECTION
============================== -->

<!-- ==================================================
    NEWSLETTER AND SOCIAL DIVIDER
======================================================= -->
<section class="newsletter color-bg" id="newsletter">
    <div class="container">
        <div class="wrapper-sm">
            <div class="row">
                <div class="col-md-6">
                    <!-- =========================
                        Social Icons
                    ============================== -->
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell follow">
                                <h5 class="table-title">Follow Us</h5>
                            </div>
                            <div class="table-cell">
                                <ul class="social-list">
                                    <li>
                                        <a href="https://facebook.com/launchalarm">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/launchalarm">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <i class="icon icon-googleplus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-linkedin"></i>
                                        </a>
                                    </li> -->
                                </ul>
                            </div><!-- /End Table-Cell -->
                        </div><!-- /End Table-Row -->
                    </div><!-- /End Table -->
                </div><!-- /End Col -->

                <div class="col-md-6">
                    <!-- =========================
                        MAILCHIMP SUBSCRIPTION FORM
                    ============================== -->
                    <form class="mailchimp-subscribe" role="form">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell getnewsletter">
                                    <h5 class="table-title">Get the Newsletter</h5>
                                </div>
                                <div class="table-cell">
                                  <!-- Notification -->
                                  <p class="mc-success"></p>
                                  <p class="mc-failed"></p>

                                    <div class="input-group text-white">
                                        <!-- Input Form -->
                                        <input type="email" id="subscriber-email" name="email" placeholder="Your email address" class="form-control">
                                        <!-- Submit Button -->
                                        <span class="input-group-btn">
                                            <button class="btn btn-white">Subscribe</button>
                                        </span>
                                    </div><!-- /End Input Group -->
                                </div><!-- /End Table-Cell -->
                            </div><!-- /End Table-Row -->
                        </div><!-- /End Table -->
                    </form><!-- /End Mailchimp Subscribe Form -->

                </div><!-- /End Col -->
            </div><!-- /End Row -->
        </div><!-- End Wrapper -->
    </div><!-- /End Container -->
</section>
<!-- =============================
     /END NEWSLETTER SECTION
============================== -->
