<!-- =========================
     HEADER
============================== -->
<header class="header" id="top" data-stellar-background-ratio="0.5">
    <!-- Background Overlay -->
    <div class="overlay-page">

        <!-- =========================================
             Navigation
        ========================================== -->
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Navbar-Header -->
                        <div class="navbar-header">

                            <!-- Mobile Menu -->
                            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <i class="icon icon_menu"></i>
                            </button>

                            <!-- Text-Logo -->
                            <a href="#top" class="navbar-brand scrollto" title="Launch Alarm">
                                <span class="text-logo">Launch Alarm</span>
                            </a>

                            <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200)

                            <a href="#top" class="navbar-brand img-logo scrollto" title="SmartMvp">
                                <img src="img/logo.png" alt="Logo">
                            </a>
                            -->

                        </div><!-- /End Navbar-Header -->

                        <!-- Navbar-Collapse -->
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Menu Items -->
                                <li><a href="/" title="">Home</a></li>
                            </ul>
                        </div><!-- /End Navbar-Collapse -->
                    </div><!-- /End Col -->
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </nav><!-- /End Sticky Navigation -->


    </div><!-- /End Background Overlay -->
</header>
<!-- =========================
     /END HEADER
============================== -->

<!-- ==================================================
    PRIVACY SECTION
======================================================= -->
<section class="mobile-download light-bg" id="mobile-download">
    <div class="container">
        <div class="wrapper-lg">
          <!-- Modal content -->
          <h2>Privacy Policy</h2>
          <h5>Effective date: March 9, 2017</h5>
          <p>Welcome to Launch Alarm ("Launch Alarm," "we," "us" or "our"). Launch Alarm provides a fast, beautiful and fun way for you to receive space flight information through our platform.</p>
          <p>Our Privacy Policy explains how we and some of the companies we work with collect, use, share and protect information in relation to our mobile services, web site, and any software provided on or in connection with Launch Alarm services (collectively, the "<strong>Service</strong>"), and your choices about the collection and use of your information.</p>
          <p>Our Policy applies to all visitors, users, and others who access the Service ("<strong>Users</strong>").</p>
          <br /><br />
          <h4>1. INFORMATION WE COLLECT</h4>
          <p>We collect the following types of information.</p>
          <h5>Information you provide us directly:</h5>
          <p>Your username, password and e-mail address when you register for a Launch Alarm account.</p>
          <p>Profile information that you provide for your user profile (e.g., first and last name, picture, phone number). This information allows us to provide a better experiance on Launch Alarm.</p>
          <p>Communications between you and Launch Alarm. For example, we may send you Service-related emails (e.g., account verification, changes/updates to features of the Service, technical and security notices). Note that you may not opt out of Service-related e-mails.</p>
          <h5>Analytics information:</h5>
          <p>We use third-party analytics tools to help us measure traffic and usage trends for the Service. These tools collect information sent by your device or our Service, including the web pages you visit, add-ons, and other information that assists us in improving the Service. We collect and use this analytics information with analytics information from other Users so that it cannot reasonably be used to identify any particular individual User.</p>
          <h5>Cookies and similar technologies:</h5>
          <p>When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use Launch Alarm and provide features to you.</p>
          <p>We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies or similar technologies placed by us or the third party.</p>
          <h5>Log file information:</h5>
          <p>Log file information is automatically reported by your browser each time you make a request to access (i.e., visit) a web page or app. It can also be provided when the content of the webpage or app is downloaded to your browser or device.</p>
          <p>When you use our Service, our servers automatically record certain log file information, including your web request, Internet Protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Service, domain names, landing pages, pages viewed, and other such information. We may also collect similar information from emails sent to our Users which then help us track which emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and improvement of the Service.</p>
          <h5>Device identifiers:</h5>
          <p>When you use a mobile device like a tablet or phone to access our Service, we may access, collect, monitor, store on your device, and/or remotely store one or more "device identifiers." Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device's operating system or other software, or data sent to the device by Launch Alarm.</p>
          <p>A device identifier may deliver information to us or to a third party partner about how you browse and use the Service and may help us or others provide reports or personalized content and ads. Some features of the Service may not function properly if use or availability of device identifiers is impaired or disabled.</p>
          <br /><br />
          <h4>2. HOW WE USE YOUR INFORMATION</h4>
          <p>In addition to some of the specific uses of information we describe in this Privacy Policy, we may use information that we receive to:</p>
          <p>help you efficiently access your information after you sign in</p>
          <p>remember information so you will not have to re-enter it during your visit or the next time you visit the Service;</p>
          <p>provide personalized content and information to you and others, which could include online ads or other forms of marketing</p>
          <p>provide, improve, test, and monitor the effectiveness of our Service</p>
          <p>develop and test new products and features</p>
          <p>monitor metrics such as total number of visitors, traffic, and demographic patterns</p>
          <p>diagnose or fix technology problems</p>
          <p>automatically update the Launch Alarm application on your device Launch Alarm or other Users may run contests, special offers or other events or activities ("Events") on the Service.</p>
          <br /><br />
          <h4>3. SHARING OF YOUR INFORMATION</h4>
          <p>We will not rent or sell your information to third parties outside Launch Alarm (or the group of companies of which Launch Alarm is a part) without your consent, except as noted in this Policy.</p>
          <h5>Parties with whom we may share your information:</h5>
          <p>We may share your information (including but not limited to, information from cookies, log files, device identifiers, location data, and usage data) with businesses that are legally part of the same group of companies that Launch Alarm is part of, or that become part of that group ("Affiliates"). Affiliates may use this information to help provide, understand, and improve the Service (including by providing analytics) and Affiliates' own services (including by providing you with better and more relevant experiences).</p>
          <p>We also may share your information as well as information from tools like cookies, log files, and device identifiers and location data, with third-party organizations that help us provide the Service to you ("Service Providers"). Our Service Providers will be given access to your information as is reasonably necessary to provide the Service under reasonable confidentiality terms.</p>
          <p>We may also share certain information such as cookie data with third-party advertising partners. This information would allow third-party ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.</p>
          <p>We may remove parts of data that can identify you and share anonymized data with other parties. We may also combine your information with other information in a way that it is no longer associated with you and share that aggregated information.</p>
          <h5>What happens in the event of a change of control:</h5>
          <p>If we sell or otherwise transfer part or the whole of Launch Alarm or our assets to another organization (e.g., in the course of a transaction like a merger, acquisition, bankruptcy, dissolution, liquidation), your information such as name and email address and any other information collected through the Service may be among the items sold or transferred. The buyer or transferee will have to honor the commitments we have made in this Privacy Policy.</p>
          <h5>Responding to legal requests and preventing harm:</h5>
          <p>We may access, preserve and share your information in response to a legal request (like a search warrant, court order or subpoena) if we have a good faith belief that the law requires us to do so. This may include responding to legal requests from jurisdictions outside of the United States where we have a good faith belief that the response is required by law in that jurisdiction, affects users in that jurisdiction, and is consistent with internationally recognized standards. We may also access, preserve and share information when we have a good faith belief it is necessary to: detect, prevent and address fraud and other illegal activity; to protect ourselves, you and others, including as part of investigations; and to prevent death or imminent bodily harm. Information we receive about you may be accessed, processed and retained for an extended period of time when it is the subject of a legal request or obligation, governmental investigation, or investigations concerning possible violations of our terms or policies, or otherwise to prevent harm.</p>
          <br /><br />
          <h4>4. HOW WE STORE YOUR INFORMATION</h4>
          <h5>Storage and Processing:</h5>
          <p>Your information collected through the Service may be stored and processed in United States or any other country in which Launch Alarm, its Affiliates or Service Providers maintain facilities.</p>
          <p>Launch Alarm, its Affiliates, or Service Providers may transfer information that we collect about you, including personal information across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction.</p>
          <p>By registering for and using the Service you consent to the transfer of information to the U.S. or to any other country in which Launch Alarm, its Affiliates or Service Providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.</p>
          <p>We use commercially reasonable safeguards to help keep the information collected through the Service secure and take reasonable steps (such as requesting a unique password) to verify your identity before granting you access to your account. However, Launch Alarm cannot ensure the security of any information you transmit to Launch Alarm or guarantee that information on the Service may not be accessed, disclosed, altered, or destroyed.</p>
          <p>Please do your part to help us. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to emails between you and Launch Alarm, at all times. We are not responsible for the functionality, privacy, or security measures of any other organization.</p>
          <br /><br />
          <h4>5. YOUR CHOICES ABOUT YOUR INFORMATION</h4>
          <h5>Your account information and profile/privacy settings:</h5>
          <p>Update your account at any time by logging in and changing your profile settings.</p>
          <p>Unsubscribe from email communications from us by clicking on the "unsubscribe link" provided in such communications. As noted above, you may not opt out of Service-related communications (e.g., account verification, purchase and billing confirmations and reminders, changes/updates to features of the Service, technical and security notices).</p>
          <h5>How long we keep your profile information:</h5>
          <p>Following termination or deactivation of your account, Instagram, its Affiliates, or its Service Providers may retain information (including your profile information) for a commercially reasonable time for backup, archival, and/or audit purposes.</p>
          <br /><br />
          <h4>6. OTHER WEB SITES AND SERVICES</h4>
          <p>We are not responsible for the practices employed by any websites or services linked to or from our Service, including the information or content contained within them. Please remember that when you use a link to go from our Service to another website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link on our website, are subject to that third party's own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service and you allow them to access your User Content you do so at your own risk.</p>
          <br /><br />
          <h4>7. HOW TO CONTACT US ABOUT A DECEASED USER</h4>
          <p>In the event of the death of a Launch Alarm User, please <a href="mailto:support@launchalarm.com">contact us</a>. We will usually conduct our communication via email; should we require any other information, we will contact you at the email address you have provided in your request.</p>
          <br /><br />
          <h4>8. HOW TO CONTACT US</h4>
          <p>If you have any questions about this Privacy Policy or the Service, please <a href="mailto:support@launchalarm.com">contact us</a>.</p>
          <br /><br />
          <h4>9. CHANGES TO OUR PRIVACY POLICY</h4>
          <p>Launch Alarm may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of Launch Alarm or the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.</p>
        </div><!-- /End Wrapper -->
    </div><!-- /End Container -->
</section>
<!-- =============================
     /END PRIVACY SECTION
============================== -->
