<div class="event">
    <div class="label">
        <i class="announcement icon"></i>
    </div>
    <div class="content">
        <div class="date">{{this.date}}</div>
        <div class="summary">
            <a href="/blog/{{this.title}}">
                {{this.title}}
            </a>
        </div>
        <div class="extra text">
            {{this.short}}
        </div>
    </div>
</div>
