<div class="header">
    <div id="jumbotron" class="ui center aligned segment">
        <div class="ui header huge">
            <i class="terminal huge icon"></i>
            Dai Williams
        </div>
        <div class="ui move up reveal">
            <img class="visible content" src="/img/pixel_me.gif" alt="me">
            <img class="hidden content" src="/img/404_me.gif" alt="404me">
        </div>
        <div class="container">
            <a href="/">
                <div class="ui labeled mini icon button teal">
                    <i class="home icon"></i>
                    Home
                </div>
            </a>
            <a href="/projects">
                <div class="ui labeled mini icon button green">
                    <i class="lab icon"></i>
                    Projects
                </div>
            </a>
            <a href="/blog">
                <div class="ui labeled mini icon button orange">
                    <i class="edit icon"></i>
                    Blog
                </div>
            </a>
        </div>
        <div class="container">
            <a href="https://github.com/daio-io">
                <i class="github circular inverted icon"></i>
            </a>
            <a href="http://uk.linkedin.com/pub/david-williams/62/a1b/92a/en">
                <i class="linkedin circular blue inverted icon"></i>
            </a>
            <a href="mailto:me@daio.io">
                <i class="mail circular red inverted icon"></i>
            </a>
        </div>
    </div>
</div>
